In [3]:
import numpy as np
import pandas as pd
import sqlite3 as sq
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sj_df = pd.read_csv('s3://508-team4/data/sj_compensation/sj_compensation.csv')
sj_df.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,name,department,job_title,total_cash,base_salary,overtime,health,retired,year,city_id,irregular_cash,retirement,other_benefits,total_benefits,total_compensation
0,Bustillos Steven D,Police,Police Sergeant,286137.69,90888.00,89867.88,13640.50,Yes,2013,1,105381.81,74429.71,0.0,88070.21,374207.90
1,Figone Debra J,City Manager,City Manager U,248564.84,227975.02,NaN,15166.00,Yes,2013,1,20589.82,151550.08,0.0,166716.08,415280.92
2,Guerra Daniel P,Police,Police Officer,241039.12,97198.40,132104.54,15371.56,No,2013,1,11736.18,79821.51,0.0,95193.07,336232.19
3,Moore Christopher M,Police,Chief Of Police U,233540.32,15319.54,NaN,1371.81,Yes,2013,1,218220.78,11204.16,0.0,12575.97,246116.29
4,Vasquez Hector M,Police,Police Officer,230469.85,97198.40,124552.69,16345.32,No,2013,1,8718.76,79821.51,0.0,96166.83,326636.68

In [4]:
col_names_sj = sj_df.columns.tolist()
col_names_sj

['name',
 'department',
 'job_title',
 'total_cash',
 'base_salary',
 'overtime',
 'health',
 'retired',
 'year',
 'city_id',
 'irregular_cash',
 'retirement',
 'other_benefits',
 'total_benefits',
 'total_compensation']

In [5]:
sf_df = pd.read_csv('s3://508-team4/data/sf_compensation/sf_compensation.csv')
#sf_df['city_id'] = 2
sf_df.head()

,organization_group_code,job_family_code,job_code,year_type,year,organization_group,department_code,department,union_code,union,...,salaries,overtime,other_salaries,total_salary,retirement,health_and_dental,other_benefits,total_benefits,total_compensation,city_id
0,3,1400,1404,Fiscal,2019,Human Welfare & Neighborhood Development,HSA,Human Services,790.0,SEIU Local 1021 Misc,...,60720.01,0.00,0.00,60720.01,13653.20,14733.76,4904.34,33291.30,94011.31,2
1,3,9700,9703,Fiscal,2019,Human Welfare & Neighborhood Development,HSA,Human Services,535.0,SEIU Local 1021 Misc,...,91677.00,0.00,0.00,91677.00,17524.20,14733.76,7411.13,39669.09,131346.09,2
2,3,2900,2918,Fiscal,2019,Human Welfare & Neighborhood Development,HSA,Human Services,535.0,SEIU Local 1021 Misc,...,89106.03,0.00,1540.00,90646.03,17327.20,14733.76,7401.92,39462.88,130108.91,2
3,3,2900,2918,Fiscal,2019,Human Welfare & Neighborhood Development,HSA,Human Services,535.0,SEIU Local 1021 Misc,...,85581.11,3355.94,337.75,89274.80,16359.16,14151.56,7096.21,37606.93,126881.73,2
4,3,2900,2905,Fiscal,2019,Human Welfare & Neighborhood Development,HSA,Human Services,535.0,SEIU Local 1021 Misc,...,86457.00,0.00,2090.00,88547.00,16925.97,14733.76,7257.89,38917.62,127464.62,2

In [6]:
col_names_sf = sf_df.columns.tolist()
col_names_sf

['organization_group_code',
 'job_family_code',
 'job_code',
 'year_type',
 'year',
 'organization_group',
 'department_code',
 'department',
 'union_code',
 'union',
 'job_family',
 'job',
 'employee_identifier',
 'salaries',
 'overtime',
 'other_salaries',
 'total_salary',
 'retirement',
 'health_and_dental',
 'other_benefits',
 'total_benefits',
 'total_compensation',
 'city_id']

In [7]:
la_df = pd.read_csv('s3://508-team4/data/la_compensation/la_compensation.csv')
#la_df['city_id'] = 3
la_df.info()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (0,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753959 entries, 0 to 753958
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   record_nbr          753959 non-null  object
 1   year                753959 non-null  int64
 2   department_no       753959 non-null  int64
 3   department          753959 non-null  object
 4   job_class_pgrade    753415 non-null  object
 5   job_title           753415 non-null  object
 6   employment_type     753959 non-null  object
 7   job_status          753959 non-null  object
 8   mou                 753273 non-null  object
 9   mou_title           753166 non-null  object
 10  base_salary         753959 non-null  float64
 11  overtime            753525 non-null  float64
 12  irregular_cash      753525 non-null  float64
 13  total_cash          753959 non-null  float64
 14  retirement          753959 non-null  float64
 15  health              753959 non-null  float64
 16  gender              750098 non-null  object
 17  ethnicity           746703 non-null  object
 18  city_id             753959 non-null  int64
 19  total_benefits      753959 non-null  float64
 20  total_compensation  753959 non-null  float64
 21  other_benefits      0 non-null       float64
dtypes: float64(9), int64(3), object(10)
memory usage: 126.5+ MB

In [8]:
import boto3
import sagemaker

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [9]:
ingest_create_athena_db_passed = False

In [10]:
!pip install --disable-pip-version-check -q PyAthena==2.1.0
from pyathena import connect

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [11]:
database_name = "compens"

In [12]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

In [13]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [14]:
statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)

CREATE DATABASE IF NOT EXISTS compens

In [15]:
pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [16]:
statement = "SHOW DATABASES"

df_show = pd.read_sql(statement, conn)
df_show.head(5)

  database_name
0       compens
1       default

In [17]:
#Directory for the data input
data_dir = 's3://508-team4/data'

In [18]:
table_name1='sj_compensation'
pd.read_sql(f'DROP TABLE IF EXISTS {database_name}.{table_name1}', conn)


create_table = f""" 
CREATE EXTERNAL TABLE IF NOT EXISTS {database_name}.{table_name1}(
                name string, 
                department string, 
                job_title string, 
                total_cash float,  
                base_salary float, 
                overtime float, 
                health float, 
                retired string,
                year int,
                city_id int,
                irregular_cash float, 
                retirement float, 
                other_benefits float,
                total_benefits float,
                total_compensation float
 )
                
                ROW FORMAT DELIMITED
                FIELDS TERMINATED BY ','
                LOCATION '{data_dir}/{table_name1}'
                TBLPROPERTIES ('skip.header.line.count'='1')
"""

pd.read_sql(create_table, conn)

pd.read_sql(f'SELECT * FROM {database_name}.{table_name1} LIMIT 5', conn)

,name,department,job_title,total_cash,base_salary,overtime,health,retired,year,city_id,irregular_cash,retirement,other_benefits,total_benefits,total_compensation
0,Bustillos Steven D,Police,Police Sergeant,286137.70,90888.00,89867.88,13640.50,Yes,2013,1,105381.81,74429.71,0.0,88070.21,374207.9
1,Figone Debra J,City Manager,City Manager U,248564.84,227975.02,NaN,15166.00,Yes,2013,1,20589.82,151550.08,0.0,166716.08,415280.9
2,Guerra Daniel P,Police,Police Officer,241039.12,97198.40,132104.55,15371.56,No,2013,1,11736.18,79821.51,0.0,95193.07,336232.2
3,Moore Christopher M,Police,Chief Of Police U,233540.31,15319.54,NaN,1371.81,Yes,2013,1,218220.78,11204.16,0.0,12575.97,246116.3
4,Vasquez Hector M,Police,Police Officer,230469.84,97198.40,124552.69,16345.32,No,2013,1,8718.76,79821.51,0.0,96166.83,326636.7

In [19]:
table_name2 ='sf_compensation'
pd.read_sql(f'DROP TABLE IF EXISTS {database_name}.{table_name2}', conn)


create_table = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {database_name}.{table_name2}(
                organization_group_code int, 
                job_family_code string,
                job_code string, 
                year_type string, 
                year int, 
                organization_group string, 
                department_code string, 
                department string, 
                union_code float, 
                union string, 
                job_family string, 
                job_title string, 
                employee_identifier int, 
                base_salary float, 
                overtime float, 
                irregular_cash float, 
                total_cash float, 
                retirement float,
                health float, 
                other_benefits float, 
                total_benefits float, 
                total_compensation float,
                city_id int
                )
                
                ROW FORMAT DELIMITED
                FIELDS TERMINATED BY ','
                LOCATION '{data_dir}/{table_name2}'
                TBLPROPERTIES ('skip.header.line.count'='1')
"""

pd.read_sql(create_table, conn)

pd.read_sql(f'SELECT * FROM {database_name}.{table_name2} LIMIT 5', conn)

,organization_group_code,job_family_code,job_code,year_type,year,organization_group,department_code,department,union_code,union,...,base_salary,overtime,irregular_cash,total_cash,retirement,health,other_benefits,total_benefits,total_compensation,city_id
0,1,H000,H010,Calendar,2015,Public Protection,FIR,FIR Fire Department,798.0,Firefighters - Miscellaneous Local 798,...,122778.10,0.00,16342.15,139120.25,27322.34,12424.50,2361.86,42108.70,181228.95,2
1,1,H000,H010,Calendar,2014,Public Protection,FIR,FIR Fire Department,798.0,Firefighters - Miscellaneous Local 798,...,121525.81,27121.59,17082.50,165729.90,28910.01,15151.46,2744.64,46806.11,212536.02,2
2,1,H000,H010,Calendar,2013,Public Protection,FIR,FIR Fire Department,798.0,Firefighters - Miscellaneous Local 798,...,127392.10,53433.11,21161.94,201987.16,28053.70,15788.96,3427.70,47270.36,249257.52,2
3,1,H000,H002,Fiscal,2016,Public Protection,FIR,FIR Fire Department,798.0,Firefighters - Miscellaneous Local 798,...,2541.60,0.00,0.00,2541.60,460.79,448.90,197.28,1106.97,3648.57,2
4,1,H000,H002,Calendar,2016,Public Protection,FIR,FIR Fire Department,798.0,Firefighters - Miscellaneous Local 798,...,37975.06,0.00,848.04,38823.10,6903.82,7148.36,2305.59,16357.77,55180.87,2

In [20]:
table_name3 ='la_compensation'
pd.read_sql(f'DROP TABLE IF EXISTS {database_name}.{table_name3}', conn)


create_table = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {database_name}.{table_name3}(
                record_nbr string,
                year int,
                department_no string,
                department string,
                job_class_pgrade int,
                job_title string,
                employment_type string,
                job_status string,
                mou string,
                mou_title string,
                base_salary float,
                overtime float,
                irregular_cash float,
                total_cash float,
                retirement float,
                health float,
                gender string,
                ethnicity string,
                city_id int,
                total_benefits float,
                total_compensation float,
                other_benefits float
                )
                
                ROW FORMAT DELIMITED
                FIELDS TERMINATED BY ','
                LOCATION '{data_dir}/{table_name3}'
                TBLPROPERTIES ('skip.header.line.count'='1')
"""

pd.read_sql(create_table, conn)

pd.read_sql(f'SELECT * FROM {database_name}.{table_name3} LIMIT 5', conn)

,record_nbr,year,department_no,department,job_class_pgrade,job_title,employment_type,job_status,mou,mou_title,...,irregular_cash,total_cash,retirement,health,gender,ethnicity,city_id,total_benefits,total_compensation,other_benefits
0,303530373633,2015,16,CITY EMPLOYEES RETIREMENT SYSTEM,None,ACCOUNTANT II,FULL_TIME,NOT_ACTIVE,01,ADMINISTRATIVE,...,1700.00,17252.00,4612.72,58.73,FEMALE,ASIAN,3.0,4671.45,21923.45,NaN
1,3035303737,2015,78,PUBLIC WORKS - ENGINEERING,None,SENIOR ADMINISTRATIVE CLERK,FULL_TIME,ACTIVE,03,CLERICAL,...,1304.00,65722.00,19106.38,6729.12,MALE,BLACK,3.0,25835.50,91557.50,NaN
2,303530373932,2015,70,POLICE,None,POLICE OFFICER II,FULL_TIME,ACTIVE,24,"""POLICE OFFICERS",...,4538.04,4021.00,92973.52,39548.18,15335.35,MALE,NaN,3.00,54883.53,147857.05
3,3035303832,2015,78,PUBLIC WORKS - ENGINEERING,None,SENIOR CIVIL ENGINEER,FULL_TIME,NOT_ACTIVE,17,SUPERVISORY PROFESSIONAL ENGINEERING AND SCIEN...,...,2564.34,137656.38,40050.97,16276.56,MALE,ASIAN,3.0,56327.53,193983.90,NaN
4,3035303833,2015,44,LIBRARY,None,LIBRARIAN II,FULL_TIME,ACTIVE,06,LIBRARIANS,...,5987.88,94611.00,26285.62,518.88,MALE,CAUCASIAN,3.0,26804.50,121415.50,NaN

In [21]:
# cursor = conn.cursor()
# cursor.execute(f'''ALTER TABLE {database_name}.{table_name3} ADD COLUMNS (other_benefits FLOAT)''')
# conn.commit()
# cursor.close()
# pd.read_sql(f'SELECT * FROM {database_name}.{table_name3} LIMIT 5', conn)

In [22]:
#Check tables in the database
df_show = pd.read_sql('SHOW TABLES IN compens', conn)
df_show.head(5)

          tab_name
0  la_compensation
1  sf_compensation
2  sj_compensation

In [23]:
# change_table = f'''ALTER TABLE {database_name}.{table_name1} CHANGE (pay_year year int, department_title department string)'''
# cursor.execute(change_table)
# conn.commit()
# # pd.read_sql(f'SELECT * FROM {database_name}.{table_name1} LIMIT 5', conn)

In [24]:
# cursor = conn.cursor()

# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE pay_year year int')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE department_title department string')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE regular_pay base_salary float')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE overtime_pay overtime float')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE all_other_pay irregular_cash float')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE total_pay total_cash float')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE city_retirement_contributions retirement float')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE benefit_pay health float')

# conn.commit()
  
# pd.read_sql(f'SELECT * FROM {database_name}.{table_name1} LIMIT 5', conn)

In [25]:
##merge table

In [26]:
# The 3 table were merge based on the columns of interest
df = pd.read_sql(f'SELECT year, department, job_title, base_salary, overtime, irregular_cash, \
total_cash, retirement, health, other_benefits, \
total_benefits, total_compensation, city_id \
FROM {database_name}.{table_name1} \
UNION ALL SELECT year, department, job_title, base_salary, overtime, irregular_cash, \
total_cash, retirement, health, other_benefits, total_benefits, total_compensation, city_id \
FROM {database_name}.{table_name2} \
UNION ALL SELECT year, department, job_title, base_salary, overtime, irregular_cash, \
total_cash, retirement, health, other_benefits, \
total_benefits, total_compensation, city_id \
FROM {database_name}.{table_name3}', conn)

In [27]:
df.tail()

,year,department,job_title,base_salary,overtime,irregular_cash,total_cash,retirement,health,other_benefits,total_benefits,total_compensation,city_id
1625462,2015.0,AIRPORTS,CUSTODIAN - AIRPORTS,33816.39,2035.03,4383.82,40235.24,10029.94,11159.10,NaN,21189.04,61424.28,3.0
1625463,2015.0,AIRPORTS,PRINCIPAL CLERK,70567.23,5770.57,442.12,76779.92,20930.24,15480.48,NaN,36410.72,113190.64,3.0
1625464,2015.0,POLICE,POLICE OFFICER II,NaN,89357.40,984.29,4997.00,95338.69,41863.94,151712.78,3.00,56374.09,NaN
1625465,2015.0,PUBLIC WORKS - STREET SERVICES,STREET SERVICES WORKER I,60910.99,6190.12,3606.55,70707.66,18066.20,14561.28,NaN,32627.48,103335.14,3.0
1625466,2015.0,CITY EMPLOYEES RETIREMENT SYSTEM,ACCOUNTANT I,31890.40,0.00,3980.00,35870.40,9458.69,142.63,NaN,9601.32,45471.72,3.0

In [28]:
df[df['department'].isna()]

Empty DataFrame
Columns: [year, department, job_title, base_salary, overtime, irregular_cash, total_cash, retirement, health, other_benefits, total_benefits, total_compensation, city_id]
Index: []

In [29]:
df['department'] = df['department'].fillna('Police')

In [30]:
num_unique_strings = df['department'].nunique()
num_unique_strings

552

In [31]:
#df.to_csv('df1.csv', index=False)

In [32]:
def replace_text(text):
    if pd.isna(text) or text is None:
        return text
    elif target_word.lower() in text.lower():
        return new_word
    else:
        return text

In [33]:
# use the apply method to apply the replace_text function to the text_column

In [34]:
target_word= "Police"
new_word= "Police"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

478

In [35]:
target_word= "Sheriff"
new_word= "Police"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

475

In [36]:
target_word= "Vcet"
new_word= "Police"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

474

In [37]:
target_word= "Fire"
new_word= "Emergency Manangement"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

433

In [38]:
target_word= "Emergency"
new_word= "Emergency Manangement"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

428

In [39]:
target_word= "PW"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

384

In [40]:
target_word= "Public"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

367

In [41]:
target_word= "Water"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

360

In [42]:
target_word= "DOT"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

322

In [43]:
target_word= "transport"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

319

In [44]:
target_word= "Plan"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

310

In [45]:
target_word= "Building"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

307

In [46]:
target_word= "District"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

294

In [47]:
target_word= "PRNS"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

248

In [48]:
target_word= "Recre"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

245

In [49]:
target_word= "zoo"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

244

In [50]:
target_word= "Parks"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

243

In [51]:
target_word= "Arena"
new_word= "Public works and Planning"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

242

In [52]:
target_word= "City"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

228

In [53]:
target_word= "Convention"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

227

In [54]:
target_word= "Neighbor"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

226

In [55]:
target_word= "Election"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

225

In [56]:
target_word= "Council"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

223

In [57]:
target_word= "CII"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

222

In [58]:
target_word= "Clerk"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

220

In [59]:
target_word= "Registrar"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

219

In [60]:
target_word= "Housing"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

215

In [61]:
target_word= "Mayor"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

211

In [62]:
target_word= "rda"
new_word= "City Management and Council"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

210

In [63]:
target_word= "ESD"
new_word= "Employment"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

190

In [64]:
target_word= "Employee"
new_word= "Employment"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

188

In [65]:
target_word= "Airport"
new_word= "Airport"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

178

In [66]:
target_word= "Airside"
new_word= "Airport"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

177

In [67]:
target_word= "Econ"
new_word= "Economic Development"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

170

In [68]:
target_word= "Finance"
new_word= "Finance"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

164

In [69]:
target_word= "Auditor"
new_word= "Finance"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

162

In [70]:
target_word= "Assessor"
new_word= "Finance"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

160

In [71]:
target_word= "Controller"
new_word= "Finance"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

157

In [72]:
target_word= "Tax"
new_word= "Finance"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

155

In [73]:
target_word= "Board"
new_word= "Law and regulation"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

149

In [74]:
target_word= "Attorney"
new_word= "Law and regulation"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

146

In [75]:
target_word= "Court"
new_word= "Law and regulation"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

143

In [76]:
target_word= "Ethics"
new_word= "Law and regulation"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

141

In [77]:
target_word= "probation"
new_word= "Law and regulation"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

138

In [78]:
target_word= "regulation"
new_word= "Law and regulation"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

137

In [79]:
target_word= "Prt"
new_word= "Port"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

135

In [80]:
target_word= "Harbor"
new_word= "Port"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

134

In [81]:
target_word= "Human"
new_word= "Human Services"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

126

In [82]:
target_word= "Retire"
new_word= "Human Services"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

124

In [83]:
target_word= "Child"
new_word= "Human Services"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

117

In [84]:
target_word= "Service"
new_word= "Human Services"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

105

In [85]:
target_word= "Personnel"
new_word= "Human Services"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

104

In [86]:
target_word= "Aging"
new_word= "Human Services"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

103

In [87]:
target_word= "Women"
new_word= "Human Services"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

100

In [88]:
target_word= "Pension"
new_word= "Human Services"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

99

In [89]:
target_word= "Disability"
new_word= "Human Services"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

98

In [90]:
target_word= "Families"
new_word= "Human Services"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

97

In [91]:
target_word= "Info"
new_word= "InformationTech"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

94

In [92]:
target_word= "Tech"
new_word= "InformationTech"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

90

In [93]:
target_word= "Envi"
new_word= "Energy and Environment"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

88

In [94]:
target_word= "Energy"
new_word= "Energy and Environment"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

86

In [95]:
target_word= "Power"
new_word= "Energy and Environment"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

85

In [96]:
target_word= "Sciences"
new_word= "Library, Arts, Science and Museum"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

84

In [97]:
target_word= "Library"
new_word= "Library, Arts, Science and Museum"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

28

In [98]:
target_word= "Museum"
new_word= "Library, Arts, Science and Museum"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

24

In [99]:
target_word= "Memorial"
new_word= "Library, Arts, Science and Museum"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

22

In [100]:
target_word= "Monument"
new_word= "Library, Arts, Science and Museum"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

21

In [102]:
target_word= "Arts"
new_word= "Library, Arts, Science and Museum"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

20

In [103]:
target_word= "Cultural"
new_word= "Library, Arts, Science and Museum"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

19

In [105]:
target_word= "Art commission"
new_word= "Library, Arts, Science and Museum"
df['department'] = df['department'].apply(replace_text)
num_unique_strings = df['department'].nunique()
num_unique_strings

18

In [106]:
df.to_csv('df2.csv', index=False)

In [107]:
n_records = len(df)

# Calculate the midpoint
midpoint = n_records // 2

# Split the DataFrame into two parts
dfra1 = df.iloc[:midpoint]
dfra2 = df.iloc[midpoint:]

# Save each part to a separate Excel file
#dfra1.to_csv('output1.csv', index=False)
#dfra2.to_csv('output2.csv', index=False)

In [ ]:
conn.close()

In [ ]:
%%html

<p><b>Shutting down your kernel for this notebook to release resources.</b></p>
<button class="sm-command-button" data-commandlinker-command="kernelmenu:shutdown" style="display:none;">Shutdown Kernel</button>
        
<script>
try {
    els = document.getElementsByClassName("sm-command-button");
    els[0].click();
}
catch(err) {
    // NoOp
}    
</script>