In [2]:
import numpy as np
import pandas as pd
import sqlite3 as sq
import matplotlib.pyplot as plt
import seaborn as sns

In [140]:
sj_df = pd.read_csv('s3://508-team4/data/sj_compensation/sj_compensation.csv')
sj_df.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,name,department,job_title,total_cash,base_salary,overtime,health,retired,year,city_id,irregular_cash,retirement,other_benefits,total_benefits,total_compensation
0,Bustillos Steven D,Police,Police Sergeant,286137.69,90888.00,89867.88,13640.50,Yes,2013,1,105381.81,74429.71,0.0,88070.21,374207.90
1,Figone Debra J,City Manager,City Manager U,248564.84,227975.02,NaN,15166.00,Yes,2013,1,20589.82,151550.08,0.0,166716.08,415280.92
2,Guerra Daniel P,Police,Police Officer,241039.12,97198.40,132104.54,15371.56,No,2013,1,11736.18,79821.51,0.0,95193.07,336232.19
3,Moore Christopher M,Police,Chief Of Police U,233540.32,15319.54,NaN,1371.81,Yes,2013,1,218220.78,11204.16,0.0,12575.97,246116.29
4,Vasquez Hector M,Police,Police Officer,230469.85,97198.40,124552.69,16345.32,No,2013,1,8718.76,79821.51,0.0,96166.83,326636.68

In [141]:
col_names_sj = sj_df.columns.tolist()
col_names_sj

['name',
 'department',
 'job_title',
 'total_cash',
 'base_salary',
 'overtime',
 'health',
 'retired',
 'year',
 'city_id',
 'irregular_cash',
 'retirement',
 'other_benefits',
 'total_benefits',
 'total_compensation']

In [144]:
sf_df = pd.read_csv('s3://508-team4/data/sf_compensation/sf_compensation.csv')
#sf_df['city_id'] = 2
sf_df.head()

,organization_group_code,job_family_code,job_code,year_type,year,organization_group,department_code,department,union_code,union,...,salaries,overtime,other_salaries,total_salary,retirement,health_and_dental,other_benefits,total_benefits,total_compensation,city_id
0,3,1400,1404,Fiscal,2019,Human Welfare & Neighborhood Development,HSA,Human Services,790.0,SEIU Local 1021 Misc,...,60720.01,0.00,0.00,60720.01,13653.20,14733.76,4904.34,33291.30,94011.31,2
1,3,9700,9703,Fiscal,2019,Human Welfare & Neighborhood Development,HSA,Human Services,535.0,SEIU Local 1021 Misc,...,91677.00,0.00,0.00,91677.00,17524.20,14733.76,7411.13,39669.09,131346.09,2
2,3,2900,2918,Fiscal,2019,Human Welfare & Neighborhood Development,HSA,Human Services,535.0,SEIU Local 1021 Misc,...,89106.03,0.00,1540.00,90646.03,17327.20,14733.76,7401.92,39462.88,130108.91,2
3,3,2900,2918,Fiscal,2019,Human Welfare & Neighborhood Development,HSA,Human Services,535.0,SEIU Local 1021 Misc,...,85581.11,3355.94,337.75,89274.80,16359.16,14151.56,7096.21,37606.93,126881.73,2
4,3,2900,2905,Fiscal,2019,Human Welfare & Neighborhood Development,HSA,Human Services,535.0,SEIU Local 1021 Misc,...,86457.00,0.00,2090.00,88547.00,16925.97,14733.76,7257.89,38917.62,127464.62,2

In [146]:
col_names_sf = sf_df.columns.tolist()
col_names_sf

['organization_group_code',
 'job_family_code',
 'job_code',
 'year_type',
 'year',
 'organization_group',
 'department_code',
 'department',
 'union_code',
 'union',
 'job_family',
 'job',
 'employee_identifier',
 'salaries',
 'overtime',
 'other_salaries',
 'total_salary',
 'retirement',
 'health_and_dental',
 'other_benefits',
 'total_benefits',
 'total_compensation',
 'city_id']

In [150]:
la_df = pd.read_csv('s3://508-team4/data/la_compensation/la_compensation.csv')
#la_df['city_id'] = 3
la_df.info()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (0,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753959 entries, 0 to 753958
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   record_nbr          753959 non-null  object
 1   year                753959 non-null  int64
 2   department_no       753959 non-null  int64
 3   department          753959 non-null  object
 4   job_class_pgrade    753415 non-null  object
 5   job_title           753415 non-null  object
 6   employment_type     753959 non-null  object
 7   job_status          753959 non-null  object
 8   mou                 753273 non-null  object
 9   mou_title           753166 non-null  object
 10  base_salary         753959 non-null  float64
 11  overtime            753525 non-null  float64
 12  irregular_cash      753525 non-null  float64
 13  total_cash          753959 non-null  float64
 14  retirement          753959 non-null  float64
 15  health              753959 non-null  float64
 16  gender              750098 non-null  object
 17  ethnicity           746703 non-null  object
 18  city_id             753959 non-null  int64
 19  total_benefits      753959 non-null  float64
 20  total_compensation  753959 non-null  float64
 21  other_benefits      0 non-null       float64
dtypes: float64(9), int64(3), object(10)
memory usage: 126.5+ MB

In [13]:
import boto3
import sagemaker

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [14]:
ingest_create_athena_db_passed = False

## Import PyAthena

In [15]:
!pip install --disable-pip-version-check -q PyAthena==2.1.0
from pyathena import connect

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

## Create Athena Database

In [16]:
database_name = "compens"

In [17]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

In [18]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [19]:
statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)

CREATE DATABASE IF NOT EXISTS compens

In [20]:
pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

## Verify The Database Has Been Created Succesfully

In [21]:
statement = "SHOW DATABASES"

df_show = pd.read_sql(statement, conn)
df_show.head(5)

  database_name
0       compens
1       default
2        dsoaws

## Create Tables

### San Jose Table

In [142]:
#Directory for the data input
data_dir = 's3://508-team4/data'

In [143]:
table_name1='sj_compensation'
pd.read_sql(f'DROP TABLE IF EXISTS {database_name}.{table_name1}', conn)


create_table = f""" 
CREATE EXTERNAL TABLE IF NOT EXISTS {database_name}.{table_name1}(
                name string, 
                department string, 
                job_title string, 
                total_cash float,  
                base_salary float, 
                overtime float, 
                health float, 
                retired string,
                year int,
                city_id int,
                irregular_cash float, 
                retirement float, 
                other_benefits float,
                total_benefits float,
                total_compensation float
 )
                
                ROW FORMAT DELIMITED
                FIELDS TERMINATED BY ','
                LOCATION '{data_dir}/{table_name1}'
                TBLPROPERTIES ('skip.header.line.count'='1')
"""

pd.read_sql(create_table, conn)

pd.read_sql(f'SELECT * FROM {database_name}.{table_name1} LIMIT 5', conn)

,name,department,job_title,total_cash,base_salary,overtime,health,retired,year,city_id,irregular_cash,retirement,other_benefits,total_benefits,total_compensation
0,Bustillos Steven D,Police,Police Sergeant,286137.70,90888.00,89867.88,13640.50,Yes,2013,1,105381.81,74429.71,0.0,88070.21,374207.9
1,Figone Debra J,City Manager,City Manager U,248564.84,227975.02,NaN,15166.00,Yes,2013,1,20589.82,151550.08,0.0,166716.08,415280.9
2,Guerra Daniel P,Police,Police Officer,241039.12,97198.40,132104.55,15371.56,No,2013,1,11736.18,79821.51,0.0,95193.07,336232.2
3,Moore Christopher M,Police,Chief Of Police U,233540.31,15319.54,NaN,1371.81,Yes,2013,1,218220.78,11204.16,0.0,12575.97,246116.3
4,Vasquez Hector M,Police,Police Officer,230469.84,97198.40,124552.69,16345.32,No,2013,1,8718.76,79821.51,0.0,96166.83,326636.7

### San Francisco Table

In [103]:
table_name2 ='sf_compensation'
pd.read_sql(f'DROP TABLE IF EXISTS {database_name}.{table_name2}', conn)


create_table = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {database_name}.{table_name2}(
                organization_group_code int, 
                job_family_code string,
                job_code string, 
                year_type string, 
                year int, 
                organization_group string, 
                department_code string, 
                department string, 
                union_code float, 
                union string, 
                job_family string, 
                job_title string, 
                employee_identifier int, 
                base_salary float, 
                overtime float, 
                irregular_cash float, 
                total_cash float, 
                retirement float,
                health float, 
                other_benefits float, 
                total_benefits float, 
                total_compensation float,
                city_id int
                )
                
                ROW FORMAT DELIMITED
                FIELDS TERMINATED BY ','
                LOCATION '{data_dir}/{table_name2}'
                TBLPROPERTIES ('skip.header.line.count'='1')
"""

pd.read_sql(create_table, conn)

pd.read_sql(f'SELECT * FROM {database_name}.{table_name2} LIMIT 5', conn)

,organization_group_code,job_family_code,job_code,year_type,year,organization_group,department_code,department,union_code,union,...,base_salary,overtime,irregular_cash,total_cash,retirement,health,other_benefits,total_benefits,total_compensation,city_id
0,4,2300,2320,Fiscal,2013,Community Health,DPH,DPH Public Health,791.0,SEIU - Staff and Per Diem Nurses Local 1021,...,23292.45,0.00,289.56,23582.01,3167.05,2081.21,463.29,5711.55,29293.56,2
1,4,2300,2320,Calendar,2014,Community Health,DPH,DPH Public Health,791.0,SEIU - Staff and Per Diem Nurses Local 1021,...,14958.86,0.00,12311.86,27270.72,2063.92,1399.64,4337.46,7801.02,35071.74,2
2,4,2300,2320,Calendar,2013,Community Health,DPH,DPH Public Health,791.0,SEIU - Staff and Per Diem Nurses Local 1021,...,20473.64,0.00,250.00,20723.64,1858.95,1857.00,142.09,3858.04,24581.68,2
3,6,1400,1402,Fiscal,2016,General Administration & Finance,REG,REG Elections,790.0,SEIU - Miscellaneous Local 1021,...,545.06,386.09,0.00,931.15,0.00,168.34,72.27,240.61,1171.76,2
4,6,1400,1402,Calendar,2016,General Administration & Finance,REG,REG Elections,790.0,SEIU - Miscellaneous Local 1021,...,545.06,386.09,0.00,931.15,0.00,173.57,72.27,245.84,1176.99,2

### Los Angeles Table

In [151]:
table_name3 ='la_compensation'
pd.read_sql(f'DROP TABLE IF EXISTS {database_name}.{table_name3}', conn)


create_table = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {database_name}.{table_name3}(
                record_nbr string,
                year int,
                department_no string,
                department string,
                job_class_pgrade int,
                job_title string,
                employment_type string,
                job_status string,
                mou string,
                mou_title string,
                base_salary float,
                overtime float,
                irregular_cash float,
                total_cash float,
                retirement float,
                health float,
                gender string,
                ethnicity string,
                city_id int,
                total_benefits float,
                total_compensation float,
                other_benefits float
                )
                
                ROW FORMAT DELIMITED
                FIELDS TERMINATED BY ','
                LOCATION '{data_dir}/{table_name3}'
                TBLPROPERTIES ('skip.header.line.count'='1')
"""

pd.read_sql(create_table, conn)

pd.read_sql(f'SELECT * FROM {database_name}.{table_name3} LIMIT 5', conn)

,record_nbr,year,department_no,department,job_class_pgrade,job_title,employment_type,job_status,mou,mou_title,...,irregular_cash,total_cash,retirement,health,gender,ethnicity,city_id,total_benefits,total_compensation,other_benefits
0,383035353833,2019,28,COUNCIL,None,MANAGEMENT ASSISTANT,FULL_TIME,NOT_ACTIVE,01,ADMINISTRATIVE,...,1070.0,52934.00,15382.86,6920.16,FEMALE,HISPANIC,3,22303.02,75237.02,NaN
1,3830353538,2019,82,PUBLIC WORKS - SANITATION,None,SENIOR ADMINISTRATIVE CLERK,FULL_TIME,ACTIVE,03,CLERICAL,...,0.0,64203.20,19042.67,8489.52,FEMALE,BLACK,3,27532.19,91735.39,NaN
2,383035363034,2019,40,GENERAL SERVICES,None,EQUIPMENT MECHANIC,FULL_TIME,ACTIVE,14,SERVICE AND CRAFT,...,0.0,38531.36,11148.36,6997.90,MALE,CAUCASIAN,3,18146.26,56677.62,NaN
3,383035363733,2019,94,TRANSPORTATION,None,CROSSING GUARD,PART_TIME,NOT_ACTIVE,34,CROSSING GUARDS,...,4316.0,12450.40,0.00,0.00,MALE,CAUCASIAN,3,0.00,12450.40,NaN
4,383035363832,2019,88,RECREATION AND PARKS,None,SPECIAL PROGRAM ASSISTANT II,PART_TIME,ACTIVE,04,EQUIPMENT OPERATION AND LABOR,...,100.0,16655.20,0.00,7654.08,FEMALE,BLACK,3,7654.08,24309.28,NaN

In [152]:
# cursor = conn.cursor()
# cursor.execute(f'''ALTER TABLE {database_name}.{table_name3} ADD COLUMNS (other_benefits FLOAT)''')
# conn.commit()
# cursor.close()
# pd.read_sql(f'SELECT * FROM {database_name}.{table_name3} LIMIT 5', conn)

In [153]:
#Check tables in the database
df_show = pd.read_sql('SHOW TABLES IN compens', conn)
df_show.head(5)

          tab_name
0  la_compensation
1  sf_compensation
2  sj_compensation

In [143]:
# change_table = f'''ALTER TABLE {database_name}.{table_name1} CHANGE (pay_year year int, department_title department string)'''
# cursor.execute(change_table)
# conn.commit()
# # pd.read_sql(f'SELECT * FROM {database_name}.{table_name1} LIMIT 5', conn)

In [115]:
# cursor = conn.cursor()

# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE pay_year year int')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE department_title department string')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE regular_pay base_salary float')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE overtime_pay overtime float')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE all_other_pay irregular_cash float')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE total_pay total_cash float')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE city_retirement_contributions retirement float')
# cursor.execute(f'ALTER TABLE {database_name}.{table_name1} CHANGE benefit_pay health float')

# conn.commit()
  
# pd.read_sql(f'SELECT * FROM {database_name}.{table_name1} LIMIT 5', conn)

## Merge the tables

In [155]:
# The 3 table were merge based on the columns of interest
df = pd.read_sql(f'SELECT year, department, job_title, base_salary, overtime, irregular_cash, \
total_cash, retirement, health, other_benefits, \
total_benefits, total_compensation, city_id \
FROM {database_name}.{table_name1} \
UNION ALL SELECT year, department, job_title, base_salary, overtime, irregular_cash, \
total_cash, retirement, health, other_benefits, total_benefits, total_compensation, city_id \
FROM {database_name}.{table_name2} \
UNION ALL SELECT year, department, job_title, base_salary, overtime, irregular_cash, \
total_cash, retirement, health, other_benefits, \
total_benefits, total_compensation, city_id \
FROM {database_name}.{table_name3}', conn)

In [156]:
df.tail()

,year,department,job_title,base_salary,overtime,irregular_cash,total_cash,retirement,health,other_benefits,total_benefits,total_compensation,city_id
1625462,2019.0,PUBLIC WORKS - SANITATION,WASTEWATER TREATMENT OPERATOR I,0.00,0.00,1097.69,1097.69,0.00,0.00,NaN,0.00,1097.69,3.0
1625463,2019.0,RECREATION AND PARKS,RECREATION COORDINATOR,54775.56,0.00,550.83,55326.39,16246.43,8155.68,NaN,24402.11,79728.50,3.0
1625464,2019.0,AIRPORTS,AIRPORT POLICE OFFICER III,4263.20,528.94,80.80,4872.94,1264.47,660.06,NaN,1924.53,6797.47,3.0
1625465,2019.0,AIRPORTS,AIRPORT POLICE SERGEANT,124378.09,12221.47,4184.11,140783.67,36890.54,15181.38,NaN,52071.92,192855.60,3.0
1625466,2019.0,GENERAL SERVICES,HELICOPTER MECHANIC,91329.48,2366.48,200.00,93895.96,26984.63,18594.43,NaN,45579.06,139475.02,3.0

In [157]:
conn.close()

In [158]:
%%html

<p><b>Shutting down your kernel for this notebook to release resources.</b></p>
<button class="sm-command-button" data-commandlinker-command="kernelmenu:shutdown" style="display:none;">Shutdown Kernel</button>
        
<script>
try {
    els = document.getElementsByClassName("sm-command-button");
    els[0].click();
}
catch(err) {
    // NoOp
}    
</script>

In [ ]:
%%javascript

try {
    Jupyter.notebook.save_checkpoint();
    Jupyter.notebook.session.delete();
}
catch(err) {
    // NoOp
}